{#
/**
 * @file temporary_login_link.html.twig
 * Default theme implementation to present Temporary login link data.
 *
 * This template is used when viewing Temporary login link pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_temporary_login_link()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('temporary_login_link') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
